body {
  text-align: center;
  background-image: url("img/startBackground.jpg");
  background-size: cover;
  height: 100%;
}

#start-button{
  position: fixed;
  top: 420px;
  left: 620px;
  background: #530200;
  color: #fcdeae;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border-width: 3px;
  border-color: #fcdeae;
  font-family: "Love Ya Like A Sister";
  font-size: 30px;
  cursor: pointer;
}

#logo {
  position: fixed;
  top: 220px;
  left: 220px;
  width: 75%;
}